body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:116px;
  width:346px;
  height:610px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:610px;
}
#u3 {
  position:absolute;
  left:2px;
  top:297px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:140px;
  width:56px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:458px;
  top:0px;
  width:422px;
  height:860px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u6 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:498px;
  top:116px;
  width:346px;
  height:610px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:610px;
}
#u8 {
  position:absolute;
  left:2px;
  top:297px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:40px;
  top:130px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
