body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:116px;
  width:345px;
  height:610px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:610px;
}
#u3 {
  position:absolute;
  left:2px;
  top:297px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:432px;
  top:180px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:330px;
  top:130px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:40px;
  top:290px;
  width:340px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:40px;
  top:330px;
  width:345px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:40px;
  top:380px;
  width:345px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:40px;
  top:466px;
  width:345px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:60px;
  top:674px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:150px;
  top:674px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:240px;
  top:677px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:320px;
  top:674px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:40px;
  top:180px;
  width:340px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:688px;
  top:0px;
  width:422px;
  height:860px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u17 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:728px;
  top:116px;
  width:345px;
  height:610px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:610px;
}
#u19 {
  position:absolute;
  left:2px;
  top:297px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:420px;
  width:345px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
