body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:116px;
  width:346px;
  height:810px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:810px;
}
#u3 {
  position:absolute;
  left:2px;
  top:397px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:432px;
  top:490px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:432px;
  top:610px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:280px;
  top:220px;
  width:100px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:40px;
  top:140px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:432px;
  top:730px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:690px;
  top:804px;
  width:90px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:768px;
  width:330px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:32px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:85px;
  top:768px;
  width:237px;
  height:26px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
