body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:116px;
  width:345px;
  height:610px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:610px;
}
#u3 {
  position:absolute;
  left:2px;
  top:297px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:418px;
  top:0px;
  width:422px;
  height:860px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u5 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:459px;
  top:116px;
  width:345px;
  height:610px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:610px;
}
#u7 {
  position:absolute;
  left:2px;
  top:297px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:850px;
  top:130px;
  width:200px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:41px;
  top:130px;
  width:49px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:850px;
  top:270px;
  width:200px;
  height:100px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1080px;
  top:0px;
  width:422px;
  height:860px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u14 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1121px;
  top:116px;
  width:345px;
  height:610px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:610px;
}
#u16 {
  position:absolute;
  left:2px;
  top:297px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1154px;
  top:133px;
  width:299px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:77px;
  top:130px;
  width:303px;
  height:49px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:49px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1154px;
  top:131px;
  width:303px;
  height:49px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:49px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:41px;
  top:180px;
  width:339px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:462px;
  top:180px;
  width:339px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
