body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:632px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:860px;
}
#u1 {
  position:absolute;
  left:2px;
  top:422px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:41px;
  top:117px;
  width:345px;
  height:720px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:720px;
}
#u3 {
  position:absolute;
  left:2px;
  top:352px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:432px;
  top:540px;
  width:200px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:432px;
  top:420px;
  width:200px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:432px;
  top:660px;
  width:200px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:432px;
  top:200px;
  width:200px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:60px;
  top:140px;
  width:260px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:330px;
  top:140px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:60px;
  top:340px;
  width:310px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:216px;
  top:468px;
  width:164px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:52px;
  top:620px;
  width:164px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:52px;
  top:470px;
  width:154px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:60px;
  top:787px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:150px;
  top:787px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:240px;
  top:790px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:320px;
  top:787px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:221px;
  top:640px;
  width:154px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:432px;
  top:310px;
  width:200px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
